<header>
    <h1>Stacey's Express Example | <%= title%></h1>
    <div class="navContainer">
        <nav>
            <a href="/"><span class="navSpan">Home</span></a>
            <span> | </span>
            <a href="/contacts"><span class="navSpan">Contacts</span></a>
            <span> | </span>
            <a href="/posts"><span class="navSpan">Posts</span></a>
            <span> | </span>
            <a href="/add-post"><span class="navSpan">Add Post</span></a>
     
        </nav>
        <form action="">
            <input type="text" placeholder="search smth">
            <button>Search</button>
        </form>
    </div>
    
</header>